<%= form_with(model: student, local: true) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">  
    <ul class="row">

      <div class="col-md-6 label"><%= form.label :name %></div>
      <div class="col-md-6 field"><%= form.text_field :name %></div>
    </ul>
    <ul class="row">
      <div class="col-md-6 label"><%= form.label :course %></div>
      <div class="col-md-6 field"><%= form.select :course, Student.courses.keys.map {|k| [I18n.t("enums.course.#{k}"), k]}, include_blank: true %></div>
    </ul>
    <ul class="row">
      <div class="col-md-6 label"><%= form.label :enrollment_status %></div>
      <div class="col-md-6 field"><%= form.select :enrollment_status, Student.enrollment_statuses.keys.map {|k| [I18n.t("enums.enrollment_statuses.#{k}"), k]}, include_blank: "選択して下さい" %></div>

    </ul>
    <ul class="row">
      <div class="col-md-6 label"><%= form.label :site %></div>
      <div class="col-md-6 field"><%= form.select :site, Student.sites.keys.map {|k| [I18n.t("enums.site.#{k}"), k]}, include_blank: "選択して下さい" %></div>
      </u
    </ul>
    <ul class="row">
      <div class="col-md-6 label"><%= form.label :school_year %></div>
      <div class="col-md-6 field"><%= form.select :school_year, Student.school_years.keys.map {|k| [I18n.t("enums.school_year.#{k}"), k]}, include_blank: "選択して下さい" %></div>
    <ul class="row">
      <div class="col-md-6 label"><%= form.label :parent_name %></div>
      <div class="col-md-6 field"><%= form.text_field :parent_name %><div>
    </ul>
    <ul class="row">
      <div class="col-md-6 label"><%= form.label :phone_number %></div>
      <div class="col-md-6 field"><%= form.telephone_field :phone_number,size:15,maxlength:20 %></div>
    </ul>
    <ul class="row">
      <div class="col-md-6 label"><%= form.label :email_address %></div>
      <div class="col-md-6 field"><%= form.email_field :email_address,size:25 ,maxlength:30 %></div>
    </ul>
    <ul class="row">
      <div class="col-md-6 label"><%= form.label :live_address %></div>
      <div class="col-md-6 field"><%= form.text_field :live_address %></div>
    </ul>
    <br>
    <br>
    <br>
  
  <div class="actions">
    <%= form.submit "submit" %>
    <br>
    <br>
    <%= link_to 'Back to student_index', students_path %>
  </div>

  </div>
<% end %>
