<%= simple_form_for @student, wrapper: "horizontal_form", :html => { :class => 'form-horizontal' , local: true ,url: choose_new_or_edit} do |form| %>  
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= form.input :number, min:10000, max:99999 %>

    <%= form.input :name %>

    <%= form.input :course, Student.courses_i18n.invert %>

    <%= form.input :enrollment_status, Student.enrollment_statuses_i18n.invert %>

    <%= form.input :site, Student.sites_i18n.invert %>

    <%= form.input :school_year, Student.school_years_i18n.invert %>

    <%= form.input :parent_name %>

    <%= form.input :phone_number,size:15,maxlength:20 %>
  
    <%= form.input :email_address,size:25 ,maxlength:30 %>

    <%= form.input :live_address %>
 
    <%= form.input :respond_memo %>

  <div class="actions">
    <%= form.submit  %>
  </div>
<br>
<div class="trans_button">
  <button type="button" class="btn btn-info"><%= link_to '生徒検索一覧', students_path %></button>

</div>
<% end %>
