<%= search_form_for @q do |f| %>
    <%= f.label :student, "name search" %>
    <%= f.search_field :name_cont %>

    <%= f.label :id, "student_id search" %>
    <%= f.number_field :id_gteq %>〜
    <%= f.number_field :id_lt %>

    <%= f.label :site %>
    <%= f.radio_button :site_eq, '', {:checked => true} %>指定なし
    <%= f.radio_button :site_eq, 0 %>jiyugaoka
    <%= f.radio_button :site_eq, 1 %>shibuya
    <%= f.radio_button :site_eq, 2 %>kichijoji
    <%= f.radio_button :site_eq, 3 %>yotsuya
    <%= f.radio_button :site_eq, 4 %>sakata

    <%= f.label :enrollment_status %>
    <%= f.radio_button :enrollment_status_eq, '', {:checked => true} %>指定なし
    <%= f.radio_button :enrollment_status_eq, 0 %>yes
    <%= f.radio_button :enrollment_status_eq, 1 %>no
    <%= f.radio_button :enrollment_status_eq, 2 %>break


    <%= f.submit "検索" %>
<% end %>

<br>
<br>
<div class= create>
  <%= link_to 'New_Student_Create', new_student_path %>
</div>
<br>
 
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th><%= sort_link(@q, :id, "生徒ID") %></th>
      <th>生徒氏名</th>
      <th><%= sort_link(@q, :site, "通学校舎") %></th>
      <th><%= sort_link(@q, :course, "コース") %></th>
      <th><%= sort_link(@q, :enrollment_status, "在籍状況") %></th>
      <th>削除</th>
    </tr>
  </thead>

  <tbody>
    <% @student.each do |student| %>
      <tr>
        <td><%= link_to student.id, student_path(student.id) %></td>
        <td><%= student.name %></td>
        <td><%= student.site_i18n %></td>
        <td><%= student.course_i18n %></td>
        <td><%= student.enrollment_status_i18n %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

