<h2 class="student_reg">生徒新規登録</h2>
<%= form_with(model: Student.new, local: true) do |form| %>
  <div class="student_reg">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <br>
  <div class="student_reg">
    <%= form.label :course %>
    <%= select :course, :name, Student.courses.keys.to_a, include_blank: true %>
  </div>
  <br>
  <div class="student_reg">
    <%= form.label :enrollment_status %>
    <%= select :enrollment_status, :name, Student.enrollment_statuses.keys.to_a, include_blank: true %>
  </div>
  <br>
  <div class="student_reg">
    <%= form.label :site %>
    <%= select :site, :name, Student.sites.keys.to_a, include_blank: true %>
  </div>
  <br>
  <div class="student_reg">
    <%= form.label :school_year %>
    <%= select :school_year, :name, Student.school_years.keys.to_a, include_blank: true %><br>
  </div>
  <br>
  <div class="student_reg">
    <%= form.label :parent_name %>
    <%= form.text_field :name %>
  </div>
  <br>
  <div class="student_reg">
    <%= form.label :phone_number %>
    <%= form.telephone_field :isbn,size:15,maxlength:20 %> 
  </div>
  <br>
  <div class="student_reg">
    <%= form.label :email_address %>
    <%= form.email_field :isbn,size:25 ,maxlength:30 %>
  </div>
  <br>
  <div class="student_reg">
    <%= form.label :live_address %>
    <%= form.text_field :address %>
  </div>
  <br>
  <br>
  <%= form.submit %>

<% end %>
