<h1>管理者用</h1>
<br>
<br>

<% if @staff.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@staff.errors.count, "error") %> prohibited this <%= @staff.name %> from being saved:</h2>
    <ul>
    <% @staff.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= render 'form', staff: @staff %>
<% if current_staff.admin? %>
  <%= link_to 'スタッフ一覧', admin_staffs_path %>
<% end %>