<%= form_with(model: [:admin, @staff], local: true) do |f| %>
    <br>
    <p id="notice"><%= notice %></p>
  <p>
    <strong>登録スタッフ名</strong>
    <%= @staff.name %>
  </p>
  <br>
     
  <p>    
    <strong>登録メール</strong>
    <%= @staff.email %>
  </p>
  <br>     
    
  <p>         
   <strong>所属部署</strong>
    <%= @staff.department_i18n%>
  </p>
  <br> 

  <p> 
    <strong>管理者権限</strong>
    <%= @staff.admin %>
  <br>     
  <p> 
<% end %>
<br>
<br>
<div class="trans_button">
  <button type="button" class="btn btn-primary"><%= link_to 'スタッフ一覧', admin_staffs_path %></button>
  <button type="button" class="btn btn-warning"><%= link_to '編集画面に行く', edit_admin_staff_path %></button>
</div>