<div class="trans_button">
  <button type="button" class="btn btn-warning"><%= link_to '編集画面に行く', edit_form_path(@form) %></button>
  <button type="button" class="btn btn-info "><%= link_to '休塾・退塾申請生徒一覧', forms_path %></button>
</div>
<br>
<%= form_with(model: @form, local: true) do |form| %>
    <br>
    <p id="notice"><%= notice %></p>
    
    <p> 
      <strong>生徒ID</strong>
      <%= @form.number %>
    </p>
    <br>
    
    <p> 
       <strong>生徒氏名</strong>
      <%= @form.name %> 
    </p>
    <br>

    <p>
       <strong>申請区分</strong>
       <%= @form.classification_i18n %>
    </p>
    <br>

    <p>
       <strong>休塾・退塾開始月</strong>
       <%= @form.month %>
     </p>
     <br>

     <p>   
       <strong>復塾月</strong>
       <%= @form.f_month %></div>
      </p>
      <br>
    
     <p> 
        <strong>理由</strong>
        <%= @form.reason_i18n %>
      </p>
      <br>
    
     <p> 
       <strong>備考</strong>
       <%= @form.comment %>
     </p>
     <br>
 
     <p> 
        <strong>生徒情報作成日時</strong>
        <%= @form.created_at %>
      </p>
      <br>

      <p>       
        <strong>生徒情報更新日時</strong>
        <%= @form.updated_at %></div>
      </p>
      <br>  
  
<% end %>
