<!DOCTYPE html>
<html>
  <head>
    <title>J PREP ZDM </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- コード追加 Bootstrap CSS読み込みコード-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>

  <body>
  <nav class="navbar" style="background-color:#4169e1;">
  <div class="container-fluid">
    <div class="navbar-header">
      <p class="navbar-brand">
        <i class="fas fa-gem"> J PREP ZDM </i>
        <!-- <i class="fas fa-user">がログイン</i> --> 
    
      </p>
      
    </div>
  </div>
</nav>

<% if staff_signed_in? %>
<%= link_to "生徒検索一覧", students_path %>
<%= link_to "ログアウト", destroy_staff_session_path, method: :delete %>
<% else %>
<%= link_to "スタッフ新規作成", new_staff_registration_path %>
<%= link_to "ログイン", new_staff_session_path %>
<% end %>

<% if notice %>
<p class="alert alert-notice"><%= notice %></p>
<% end %>
<% if alert %>
<p class="alert alert-error"><%= alert %></p>
<% end %>

    <%= yield %>
  </body>
</html>
